/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
 .leading {
    display: flex;
    align-items: center;
  }
}


/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}


/* Generic styles ----------------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 40px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.leading {
  height: 240px;
  /*width: 100%;*/
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 30px;
  color: white;
  /*background: url(2.jpg) center #333 no-repeat;*/
  background: -webkit-linear-gradient(to right, #000428, #004e92); 
  background: linear-gradient(to right, #000428, #004e92);
  background-size: cover;
  align-items: center;
  text-shadow: 0px 0px 5px #000;
  
  display: flex;
    display:-webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bold;
  font-size: 20vw;
	margin-top: 30px;
	margin-left: 10px;
  align-items: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 700px) {
  .leading-bigtext {
    font-size: 120px;
  }
}

.leading-text {
  max-width: 100%;
  font-size: 1.2em;
  line-height: 1.4em;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  position: relative;
}

.article-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 18px;
  /*font-weight: 550;*/
  background-color: rgba(255, 255, 255, 0.8);
  
}

/**************************//*Preloader*//**************/

.preloader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: all 2s;
    opacity: 1;
    visibility: visible;

}

.flash {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.preload {
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 2s spin linear infinite;
    animation: 2s spin linear infinite;


}


.preloader1 {
    width: 110px;
    height: 110px;
    border-top-color: black;


}
.preloader2 {
    width: 150px;
    height: 150px;
    border-bottom-color: black;

}

@-webkit-keyframes spin {

    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);

    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);

    }
}
@keyframes spin {

    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);

    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);

    }
}

.loaded {
        opacity: 0;
        visibility: hidden;
}





/************************//*Navbar*//*************************/
.navbar {
    width: 100%;
    height: 90px;
    z-index: 999;
    top: 0px;
    margin: 0 auto;
    background: black;
    display: flex;
    display:-webkit-flex;
    position: fixed;
    border-bottom: double 4px #FFF;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    font-family: kankin;
}

.links {
    display: flex;
    display:-webkit-flex;
    list-style: none;
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}

.links>li>a {
    text-decoration: none;
    padding: 36px 70px 34px 70px;
    color: #FFF;
    letter-spacing: 1px;
}

.nav-item:hover {
    background-color: #03A9F4;

}
.nav-item1{
    font-size: 20pt;
	
}
.nav-item1:hover{
	background-color: #8BC34A;
}

.lang {
    background: url(down-arrow.svg) no-repeat;
    background-position-x: 72%;
    background-position-y: 51%;
    background-size: 4%;

}

#Logo {

    /*background-image: url("img\2.jpg");
	width: 20%;
    height: 50px;*/
    background-position: center;
    background-repeat: no-repeat;
}
/************************//*Default*//*************************/

html, body {
    margin: auto;
    
    color: white;
}

@font-face {
   font-family: "Kankin";
   /*src: url("https://raw.githubusercontent.com/daysleeperx/cloud_bar/master/img/Kankin.ttf");*/
   src: url("https://raw.githubusercontent.com/daysleeperx/cloud_bar/master/img/Kankin.ttf");
}

@font-face {  /*For IE*/
    font-family: "Kankin";
    src: url("https://raw.githubusercontent.com/daysleeperx/cloud_bar/master/img/Kankin.eot");
}

/************************//*Dropdown*//*************************/

.nav-content {
    position: absolute;
    width: 212.06px;
    height: 90px;
    top: 90px;
    overflow: hidden;
    background-color: #000;
    max-height: 0;
}

.nav-sub {
    height: 90px;
}

.nav-sub ul {
    height: 90px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-sub li {
    padding: 0 20px 10px 20px;
}

.nav-sub ul li a {

    display: inline-block;
    padding: 12px 110px 5px 50px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-content a:hover {
    text-decoration: underline;
}

.nav-item:focus {
    background-color: #444;
}

.nav-item:hover ~ .nav-content {
    max-height: 90px;
    -webkit-transition: max-height 0.4s ease-in;
    -moz-transition: max-height 0.4s ease-in;
}

.nav-content:hover {
    max-height: 90px;
}

.burger-nav {
    display: none;
}

.lang-content {
    display: none;
}

.show {
    display: block;
}

/*******************************//*TABLETS*//************************************/

@media screen and (max-width: 985px) {
    .burger-nav {
        display: block;
        height: 91px;
        width: 100%;
        background: url(menu.svg) no-repeat;
    }

    .header {
        height: 91px;
        width: 100%;
    }

    .lang-drop {
        background: url(down-arrow.svg) no-repeat;
        background-size: 3%;
        background-position: 90%;
    }

    .links {
        display: none;
    }

    .open {
        position: absolute;
        list-style: none;
        top: 78px;
        background-color: #000;
        width: 100%;
        padding: 0;
    }

    .open li {
        width: 100%;
        padding: 15px 10px 10px 10px;
        font-size: x-large;
        border-bottom: 1px solid #444;
    }

    .open li a {
        color: white;
        text-decoration: none;
    }

    .open li:hover {
        background-color: #555;
    }

    li {
        display: none;
    }

    .column1 {
        width: 100%;
        margin: 10%;
    }

    .column2 {
        width: 100%;
        margin: 10%;
        margin-top: -6%;
    }

    .booking {
        width: 50%;
        margin: 0 50% 10% 27%;
    }

    #Menu {
        padding-bottom: 10px;
    }

    .st0 {
        display: none;
    }

    #About {
        padding: 169px 41px 150px 35px;
    }

    .intro-text {
        text-align: center;
    }

    .topBefore {
        width: 100%;
    }

    .address-container {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .scroll {
        display: none;
    }

    .scrolltxt {
        display: none;
    }
}

/******************************//*MOBILES*/ /*******************************************/

@media screen and (max-width: 640px) {

    .bullets {
        display: none;
    }

    h1 {
        font-size: 20pt;
    }

    .scroll {
        display: none;
    }

}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 18pt;
    }

    .social {
        width: 100%;
    }

    .social-link {
        width: 40px;
    }

    .footer-content {
        border: none;
    }
}

@media screen and (max-width: 400px) {

    .topBefore h2 {
        font-size: 25pt;

    }

}

@media screen and (max-width: 320px) {
    body, html {
        width: 320px;
    }
    .navbar {
        width: 320px;
    }
    .slider {
        width: 320px;
    }

}
